<div class="row">
  <div class="col">
    <form action="<%= url_for(action: 'query', controller: 'search') %>" method="get">
      <input value="<%= params[:query] %>"  name="query" class="form-control form-control-lg" type="text" placeholder="Type your Search">
    </form>
  </div>
</div>
<div class="row">
  <div class="col">

    <ul class="list-unstyled">
      <% (1..5).each do |n| %>
        <li class="media">
          <img src="https://placeimg.com/100/100/nature/sepia" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">This is the story you're looking for</h5>
            This is the author you're looking for.
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
