
  <div class="w-100 jumbotron my-auto">
    <h1 class="display-3 text-center">Spooky Search</h1>
    <p class="">
      <form action="<%= url_for(action: 'query', controller: 'search') %>" method="get">
      <input name="query" class="form-control form-control-lg" type="text" placeholder="Type your Search">

      </form>
    </p>
  </div>
